<strong>海曼要借錢</strong>

<form role="form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Note</label>
    <div class="controls">
      <input type="text" class="form-control" 
        cam-variable-name="note"
        cam-variable-type="String"
        />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Count</label>
    <div class="controls">
      <input type="text" class="form-control"
		cam-variable-name="count"
        cam-variable-type="Integer"        
        required
        />
    </div>
  </div>  
</form>