<strong>Do you approve this borrow?</strong>

<form role="form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Note</label>
    <div class="controls">
      <input type="text" class="form-control" 
        cam-variable-name="note"        
        readonly="true"
        />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Count</label>
    <div class="controls">
      <input type="text" class="form-control"
        cam-variable-name="count"
		readonly="true"
         />
    </div>
  </div>  
  <div class="control-group">
    <label class="control-label">Approve?</label>
    <div class="controls">
      <input type="checkbox" class="form-control"
        cam-variable-name="approved"
        cam-variable-type="Boolean"
         />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Comments</label>
    <div class="controls">
      <input type="text" class="form-control"
		cam-variable-name="comments"
		cam-variable-type="String"
        />
    </div>
  </div>    
</form>